a{
    text-decoration:none !important;
}
h1{
    font-family:'Cookie', cursive;
}
/*Style for header*/
#header{
    width:100%;
    height:80px;
    position:relative;
    z-index:1000;
    padding:10px 20%;
    background-color:rgba(0,0,0,0.4);
}
#header > div{
    display:inline-block;
    vertical-align:top !important;
}
#nav-bar{
    padding-top:10px;
}
#nav-bar ul{
    margin:0px;
}
#nav-bar li{
    display:inline-block !important;   
    height:50px;
    padding:8px 10px;
}
#nav-bar a{
    font-family:Cuprum, Arial, sans-serif;
    color:white !important;
    text-shadow:2px 2px 2px rgba(0,0,0,0.8);
    font-size:24px;
}
#nav-bar li:hover{
    color:red !important;
    background-color:white;
}
#lab3-logo{
    display:inline;
}
#lab3-logo a{
    font-family:'Cookie', cursive;
    color:white;
    text-shadow:2px 2px 2px rgba(0,0,0,0.8);
    font-size:50px;
}
#lab3-logo a:hover{
    color:red;
}
.navbar-inverse .navbar-link,
p.navbar-text,
.navbar-inverse .navbar-nav > li > a{
    color:white !important;
}
/*home page*/
/*Home Carousel*/
#home-carousel{
    top:-80px;
}
#home-carousel .carousel-caption p{
    font-size:24px;
}
#home-carousel:hover .carousel-control{
    z-index:1000;
}
#home-carousel .carousel-inner .item,
#home-carousel .carousel-inner .item  img{
    height:650px;
    z-index:5;
    width:100%;
}
#home-carousel .carousel-inner .item h1,
#home-carousel .carousel-inner .item p{
    text-shadow:2px 2px 2px rgba(0,0,0,0.7);
}
/*end of carousel*/

.row .col-lg-4{
    text-align:center !important;
    padding-bottom:20px;
}
/*end of home page*/


/*about us page*/
.jumbotron{
    background-image:url(resources/paintings/medium/01180.jpg);
    background-size:100% 100%;
    color:white !important;
    text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}
/*end of about us*/

/*artists page*/
#workCarousel .carousel-control.left,
#myCarousel1 .carousel-control.left,
#myCarousel2 .carousel-control.left{
    margin-left:-15%; 
    background:none !important;
    color:black !important;
}
#workCarousel .carousel-control.left span,
#myCarousel1 .carousel-control.left span,
#myCarousel2 .carousel-control.left span{
    
    margin-left:50%;
    
}
#workCarousel .carousel-control.right,
#myCarousel1 .carousel-control.right,
#myCarousel2 .carousel-control.right{
    margin-right:-15%; 
    background:none !important;
    color:black !important;
}
#workCarousel .carousel-control.right span,
#myCarousel1 .carousel-control.right span,
#myCarousel2 .carousel-control.right span{
    margin-right:50%;
    
    
}
#myCarousel1 h4,
#myCarousel2 h4{
    font-family:Cuprum, Arial, sans-serif;
}
/*end of artist page*/
/*work page*/
p.price{
    color:red;
    font-size:24px;
}
#workCarousel .col-md-10{
    width:80% !important;
    margin:0px 10% !important;
}
/*Responsive CSS*/
@media only screen and (max-width:700px){
    #header{
        padding:20px !important;
    }
}